body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('header.jpg');
    background-size: cover;
    background-position: center;
}

.login-form {
    background: rgba(255, 255, 255, 0);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

input:focus {
    border-color: #74ebd5;
    outline: none;
}

.btn {
    background: #695aa6;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: background 0.3s;
}

.btn:hover {
    background: #63ed70;
}

.extra-links {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.extra-links a {
    color: #646bdf;
    text-decoration: none;
    font-size: 0.9rem;
}

.extra-links a:hover {
    text-decoration: underline;
}
